data
output
*swp
*~
*.pyc
*.bak
*.BAK
*.png
.ipynb
.DS_Store
.ipynb_checkpoints
*.onetoc2
scripts/QEC/MC_Simulations_Adriaan/simulation_data_3month_report/NV_C13_0.0011_Raw_Data_20140201_1409

scripts/QEC/MC_Simulations_Adriaan/simulation_data_3month_report/NV_C13_0.0011_Raw_Data_20140201_1409.set

scripts/QEC/MC_Simulations_Adriaan/simulation_data_3month_report/NV_C13_0.0011_Raw_Data_20140201_1409plot_data

scripts/QEC/MC_Simulations_Adriaan/simulation_data_3month_report/NV_C13_0.003_Raw_Data_20140130_2353

scripts/QEC/MC_Simulations_Adriaan/simulation_data_3month_report/NV_C13_0.003_Raw_Data_20140130_2353.set

scripts/QEC/MC_Simulations_Adriaan/simulation_data_3month_report/NV_C13_0.003_Raw_Data_20140130_2353plot_data

scripts/QEC/MC_Simulations_Adriaan/simulation_data_3month_report/NV_C13_0.011_Raw_Data_20140130_1543

scripts/QEC/MC_Simulations_Adriaan/simulation_data_3month_report/NV_C13_0.011_Raw_Data_20140130_1543.set

scripts/QEC/MC_Simulations_Adriaan/simulation_data_3month_report/NV_C13_0.011_Raw_Data_20140130_1543plot_data

lib/tools/plot.py

scripts/QEC/Carbon_Coherence_analysis.py
